<div *ngIf="isLoading" class="form-bg">
    <!-- Header Section  -->
    <div class="container-fluid header-container-loading sticky">
        <div class="container header-container-inner">
            <mat-toolbar>
                <mat-toolbar-row> </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <!-- Menu -->
            <div class="col-3 side-menu animated fadeInLeft centered-content">
            </div>
            <div class="col">
                <div class="container form-body animated fadeInLeft">
                    <br />
                    <lottie-animation-view [options]="lottieConfig" (animCreated)="handleAnimation($event)">
                    </lottie-animation-view>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isLoading" class="form-bg">
    <!-- Header Section  -->
    <div class="container-fluid header-container sticky animated" [ngClass]="
        inReviewMode
        ? headerOnReviewAnimationClass
        : headerInitialAnimationClass
    ">
        <div class="container header-container-inner">
            <mat-toolbar>
                <mat-toolbar-row>
                    <div class="row">
                        <div class="col-12">
                            <span>{{ pageTitlePrefix }} {{ config["title"] }}</span>
                        </div>
                        <div *ngIf="config['objectId']" class="col-12 sub-header">
                            ID: {{ config["objectId"] }} | {{ config["objectDate"] }}
                        </div>
                    </div>

                    <span class="spacer-toolbar"></span>
                    <!-- Submit button -->
                    <button mat-flat-button *ngIf="!readonly || inReviewMode" type="button" class="btn btn-secondary submit-button" (click)="submitAction()">
                        {{ submitButtonPrefix }} {{ config["title"] }}
                    </button>
                    <!-- ---- -->
                    <!-- Edit button for review -->
                    <button mat-flat-button *ngIf="inReviewMode" type="button" class="btn btn-secondary edit-button animated fadeIn" (click)="exitReviewMode()">
                        <i class="material-icons action-icon">
                        edit
                        </i>
                        Make changes
                    </button>
                    <!-- ---- -->
                    <!-- Edit Button for when in view mode and user is data editor -->
                    <button mat-flat-button (click)="edit()" *ngIf="isDataEditor && viewing" type="button" class="btn btn-secondary edit-button animated fadeIn">
                        <i class="material-icons action-icon">
                        edit
                        </i>
                        Make changes
                    </button>
                    <!-- ---- -->
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
    <!-- -------------------- -->
    <br />

    <!-- Diff Viewer -->
    <div *ngIf="showdiffViewer" class="container container-fluid diff-container animated fadeInDown">
        <!-- <div class="container container-fluid diff-container animated fadeInDown"> -->
        <div class="row">
            <div class="col">
                <app-diff-viewer [diffObject]="diffObject"></app-diff-viewer>
            </div>
        </div>
    </div>

    <!-- Missing fields  -->
    <div *ngIf="showMissingFieldsDialog" class="container form-body diff-container animated fadeInDown">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Missing Fields
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container container-fluid">
                    <div class="row">
                        <mat-chip-list *ngFor="let missingField of missingFields; let j = index">
                            <mat-chip (click)="missingFieldSelected(missingField)">{{ missingField }}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <!-- Body Container  -->
    <div class="container">
        <div class="row">
            <!-- Menu -->
            <div class="col-3 side-menu animated" [ngClass]="inReviewMode ? sideMenuOnReviewAnimationClass : sideMenuInitialAnimationClass">
                <br />
                <div class="container">
                    <div class="row" *ngFor="let menuSection of sectionsForSideMenu; let sectionIndex = index">
                        <div class="col-12 side-menu-section" (click)="menuItemClicked(menuSection)">
                            {{ fromMenuSectionId(menuSection) }}
                            <hr class="menu-section-divider" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form Body -->
            <div class="col">
                <div class="container form-body animated" [ngClass]="inReviewMode ? formBodyOnReviewAnimationClass : formBodyInitialAnimationClass">
                    <div class="container-fluid animated" *ngFor="let section of config.sections; let i = index" id="{{toMenuSectionId(section.title.default)}}">
                        <br />
                        <div class="row">
                            <div class="col-12 section-title">
                                {{ section["title"].default }}
                                <hr class="section-divider" />
                            </div>
                        </div>
                        <div *ngFor="let subSection of section.subSections; let j = index" class="row">
                            <div class="col-12 sub-section-title" *ngIf="subSection['title'].default">
                                <br /> {{ subSection["title"].default }}
                            </div>
                            <div class="container" [ngClass]="subSection.boxed ? 'boxed' : ''">
                                <div class="row" *ngIf="!subSection.isCustom">
                                    <div class="col nopadding" *ngFor="let field of subSection.fields; let j = index" [ngClass]="classNames(field)">
                                        <!-- Location Field -->
                                        <app-location-input *ngIf="field.isLocationField" [mode]="mode" [object]="field" (locationChanged)="fieldChanged(field, $event)">
                                        </app-location-input>
                                        <!-- Input field  -->
                                        <app-field *ngIf="field.isInputField" [mode]="mode" [header]="field.header" [value]="field.value" [suffix]="field.suffix" [verification]="field.verification" [required]="field.required" (valueChanged)="fieldChanged(field, $event)">
                                        </app-field>
                                        <!-- Text Area field -->
                                        <app-field *ngIf="field.isTextAreaField" [mode]="mode" [multiline]="true" [header]="field.header" [value]="field.value" [verification]="field.verification" [required]="field.required" (valueChanged)="fieldChanged(field, $event)">
                                        </app-field>
                                        <!-- Date only Field -->
                                        <app-date-picker *ngIf="field.isDateField" [mode]="mode" [date]="field.value" [header]="field.header" (selected)="fieldChanged(field, $event)"></app-date-picker>
                                        <!-- Date & Time Fields -->
                                        <app-date-time-picker *ngIf="field.isDateAndTimeField" [mode]="mode" [header]="field.header" [dateTime]="field.value" (selected)="fieldChanged(field, $event)"></app-date-time-picker>
                                        <!-- Dropdown --->
                                        <app-dropdown *ngIf="field.isDropdown" [mode]="mode" [items]="field.dropdown" [multiple]="field.multiple" [fieldHeader]="field.header" [selectedItem]="field.value" (selectionChanged)="fieldChanged(field, $event)">
                                        </app-dropdown>
                                        <!-- Checkbox -->
                                        <div class="col">
                                            <app-checkbox *ngIf="field.isCheckbox" [mode]="mode" [header]="field.header" [value]="field.value" (selectionChanged)="fieldChanged(field, $event)">
                                            </app-checkbox>
                                        </div>
                                        <!-- Computed field -->
                                        <app-computed-field *ngIf="field.isComputedField" [mode]="mode" [header]="field.header" [suffix]="field.suffix" [formBody]="responseBody" [config]="config" [computationRules]="field.computationRules">
                                        </app-computed-field>
                                    </div>
                                    <div class="col nopadding" *ngIf="subSection.fields.length === 0">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col no-content">
                                                    <i class="material-icons">
                                                        build
                                                    </i>This section does not have any content yet.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="subSection.isCustom">
                                    <div *ngIf="subSection.custom.formComponent === 'HerbicideMix' && !inReviewMode" class="col-12">
                                        <app-herbicide-application [config]="config" [responseBody]="responseBody" [mode]="mode" (tankMixesChanged)="tankMixesChanged($event)"></app-herbicide-application>
                                    </div>
                                    <div *ngIf="subSection.custom.formComponent === 'SpeciesTreated' && !inReviewMode" class="col-12">
                                        <app-species-treated [config]="config" [responseBody]="responseBody" [mode]="mode" (speciesTreatedChanged)="speciesTreatedChanged($event)"></app-species-treated>
                                    </div>
                                    <div *ngIf="subSection.custom.formComponent === 'TreatmentDetails' && (inReviewMode || viewing)" class="col-12">
                                        <app-treatment-details [config]="config" [mode]="mode" [responseBody]="responseBody"></app-treatment-details>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Relation fields -->
                    <div class="container-fluid" *ngFor="let relationKey of config.relationKeys; let relationIndex = index">
                        <br />
                        <div class="row" *ngIf="shouldShowRelationship(relationKey)" id="{{toMenuSectionId(config.relationsConfigs[relationKey].header.default)}}">
                            <div class="col-12 section-title">
                                {{ config.relationsConfigs[relationKey].header.default }}
                                <hr class="section-divider" />
                            </div>
                            <div class="col-12">
                                <app-table *ngIf="
                                config.relationsConfigs[relationKey] &&
                                config.relationsConfigs[relationKey].table
                                " [model]="config.relationsConfigs[relationKey].table"></app-table>
                            </div>
                        </div>
                    </div>
                    <!-- End of form body -->
                </div>
            </div>

        </div>
    </div>
    <!-- test btn -->
    <div *ngIf="creating && !isProd && !isTest" class="row test-btn">
        <div class="col-12">
            <button class="btn" (click)="generateForTesting()">
                T
            </button>
        </div>
    </div>
    <!-- -------------------- -->
</div>