.after-box {
    background-color: rgba(22,201,46, 0.15);
}

.before-box {
    background-color: rgba(255,83,74, 0.15);
}

.before {
    color: #FF534A;
}

.after {
    color: #16C92E;
}

.sign {
    font-size: 1.5em;
    font-weight: bold;
}

.odd {
    background-color: rgba(51, 51, 51, 0.08);
}

.field-name {
    display: flex;
    align-items: center;
}

::ng-deep .mat-expansion-panel-content {
    max-height: 200px;
    overflow: scroll !important;
    margin-bottom: 8px;
}

mat-list-item {
    height: auto !important;
}