
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                You made {{numberOfChanged}} edits to this observation
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let change of changes; let j = index"> 
              <div class="container">
             <div class="row">
               <div class="col-6">change.prettyName</div>
               <div class="col-6">
                  <div class="col-12">
                    <div class="before col-1">-</div>
                    <div class="before before-box">{{change.before}}</div>
                  </div>
                  <div class="col-12">
                    <div class="after col-1">+</div>
                    <div class="after after-box">{{change.after}}</div>
                  </div>
               </div>
             </div>
             </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
