<!-- Header Section -->
<div class="container-fluid header-container fadeInDown animated sticky">
    <div class="container">
        <mat-toolbar class="toolbar">
            <mat-toolbar-row class="toolbar-row">
                <div class="animated fadeIn toolbar-title">{{ databaseTitle }}</div>
                <div class="toolbar-action">
                    <div class="toggle-container">
                        <span class="toggle-divider"></span>
                        <mat-icon class="toggle-button" [ngClass]="showMap ? 'active-btn' : 'inactive-btn'" aria-hidden="false" aria-label="map view" (click)="switchShowMap()">
                            map
                        </mat-icon>
                        <mat-icon class="toggle-button"  [ngClass]="showList ? 'active-btn' : 'inactive-btn'" aria-hidden="false" aria-label="list view" (click)="switchShowList()">
                            view_list
                        </mat-icon>
                    </div>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>
<br />
<!-- -------------------- -->
<div class="container">
    <div class="row">
        <div class="col-3 side-menu-container">
            <div class="side-menu">
                <p class="text text-header">Basic Search</p>
                <hr class="section-divider" />
                <p class="text text-body">Search by: Observer name, Observation ID, Species, Jurisdiction or Agency</p>
                <mat-form-field appearance="fill" class="inventory-search">
                    <input
                        matInput
                        placeholder="Enter your search here"
                        [(ngModel)]="searchKeyword"
                        class="inventory-search-input"
                        (keydown.enter)="fetchObservations()"
                    />
                    <mat-icon matSuffix class="inventory-input-icon" *ngIf="!searchKeyword">search</mat-icon>
                    <mat-icon matSuffix class="inventory-input-icon" *ngIf="searchKeyword" (click)="clearInput()">close</mat-icon>
                </mat-form-field>
                <hr class="section-divider" />
                <div class="menu-container">
                    <p class="text text-header">Advanced Search</p>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
            </div>
            <br />
            <div class="side-menu">
                <p class="text text-header">Export Records</p>
                <hr class="section-divider" />
                <button mat-stroked-button color="primary" class="export-button" [disabled]="isEmpty" (click)="openExportModal()">
                    {{ exportText }}
                </button>
            </div>
        </div>
        <div class="col">
            <div class="search-container-mobile">
                <p class="text text-body">Search by: Observer name, Observation ID, Species, Jurisdiction or Agency</p>
                <div class="input-search-container">
                    <div class="col input-search-mobile">
                        <mat-form-field appearance="fill" class="inventory-search">
                            <input
                                matInput
                                placeholder="Enter your search here"
                                [(ngModel)]="searchKeyword"
                                class="inventory-search-input"
                                (keydown.enter)="fetchObservations()"
                            />
                            <mat-icon matSuffix class="inventory-input-icon" *ngIf="!searchKeyword">search</mat-icon>
                            <mat-icon matSuffix class="inventory-input-icon" *ngIf="searchKeyword" (click)="clearInput()">close</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="mobile-actions">
                        <button mat-raised-button color="primary">
                            Advanced Search
                        </button>
                        <button mat-stroked-button color="primary" [disabled]="isEmpty" (click)="openExportModal()">
                            {{ exportText }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-header-container">
                <p class="table-header-text">{{ tableHeaderText }}</p>
            </div>
            <div *ngIf="showMap" class="row map-box" [ngClass]="showList ? 'map-box-partial' : 'map-box-full'">
                <div class="col-12">
                    <app-map-preview [markers]="markers">
                    </app-map-preview>
                </div>
            </div>
            <br />
            <div *ngIf="showList" class="row table-container">
                <div class="col-12">
                    <div class="table-content">
                        <table mat-table [dataSource]="dataSource">
                            <!-- Observation ID Column -->
                            <ng-container matColumnDef="observation_id">
                                <th mat-header-cell *matHeaderCellDef (click)="sortByObservationId()" class="table-first-column">
                                    Observation ID
                                    <i *ngIf="sortingByObservationId" class="material-icons opaque">{{ getIconName() }}</i>
                                    <i *ngIf="!sortingByObservationId" class="material-icons hidden">{{ getIconName() }}</i>
                                </th>
                                <td mat-cell *matCellDef="let item"> {{item.observation_id}} </td>
                            </ng-container>
        
                            <!-- Date Observed Column -->
                            <ng-container matColumnDef="date_observed">
                                <th mat-header-cell *matHeaderCellDef (click)="sortByDateObserved()">
                                    Date Observed
                                    <i *ngIf="sortingByDateObserved" class="material-icons opaque">{{ getIconName() }}</i>
                                    <i *ngIf="!sortingByDateObserved" class="material-icons hidden">{{ getIconName() }}</i>
                                </th>
                                <td mat-cell *matCellDef="let item"> {{item.date | momentPipe:'DD MMM YYYY'}} </td>
                            </ng-container>
        
                            <!-- Date Updated Column -->
                            <ng-container matColumnDef="last_updated">
                                <th mat-header-cell *matHeaderCellDef (click)="sortByDateUpdated()">
                                    Last Updated
                                    <i *ngIf="sortingByDateUpdated" class="material-icons opaque">{{ getIconName() }}</i>
                                    <i *ngIf="!sortingByDateUpdated" class="material-icons hidden">{{ getIconName() }}</i>
                                </th>
                                <td mat-cell *matCellDef="let item"> {{item.updatedAt | momentPipe: 'DD MMM YYYY'}} </td>
                            </ng-container>
        
                            <!-- Species Column -->
                            <ng-container matColumnDef="species">
                                <th mat-header-cell *matHeaderCellDef (click)="sortBySpecies()">
                                    Species
                                    <i *ngIf="sortingBySpecies" class="material-icons opaque">{{ getIconName() }}</i>
                                    <i *ngIf="!sortingBySpecies" class="material-icons hidden">{{ getIconName() }}</i>
                                </th>
                                <td mat-cell *matCellDef="let item"> {{item.species ? item.species.displayLabel : ''}} </td>
                            </ng-container>
        
                            <!-- Observer Column -->
                            <ng-container matColumnDef="observer">
                                <th mat-header-cell *matHeaderCellDef (click)="sortByObserver()">
                                    Surveyor
                                    <i *ngIf="sortingByObserver" class="material-icons opaque">{{ getIconName() }}</i>
                                    <i *ngIf="!sortingByObserver" class="material-icons hidden">{{ getIconName() }}</i>
                                </th>
                                <td mat-cell *matCellDef="let item"> {{item.observerFirstName + " " + item.observerLastName}} </td>
                            </ng-container>
        
                            <!-- Actions Column -->
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let item">
                                    <button mat-raised-button color="primary" (click)="view(item)">
                                        View
                                    </button>
                                </td>
                            </ng-container>
        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
        
                        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal *ngIf="showExportModal">
    <div class="modal-content-container">
        <div class="export-modal-container">
            <p class="text text-title">{{ exportText }}</p>
            <hr class="section-divider" />
            <div class="export-modal-content">
                <i class="material-icons-outlined export-icon">note</i>
                <p class="text text-header text-margin">Export File Type</p>
                <p class="text text-body text-margin"><b>CSV</b> files work with Microsoft Excel and other spreadsheet software.</p>
                <p class="text text-body text-margin"><b>KML</b> will work with mapping software like Google Earth or ArcGIS</p>
                <mat-radio-group class="export-radio-group" [(ngModel)]="exportFormat">
                    <mat-radio-button value="csv">.CSV</mat-radio-button>
                    <mat-radio-button value="kml">.KML</mat-radio-button>
                </mat-radio-group>
            </div>
            <hr class="section-divider" />
            <div class="action-container">
                <div class="col action">
                  <button mat-stroked-button color="primary" class="action-button" (click)="closeExportModal()">
                    Cancel
                  </button>
                </div>
                <div class="col action">
                  <button mat-raised-button color="primary" class="action-button" (click)="export()">
                    Download now
                  </button>
                </div>
            </div>
        </div>
    </div>
</app-modal>