/* HANDELING SIDE NAV ON SCREEN SIZE CHANGE */
@media (max-width: 992px) {
    .side-menu-container {
        display: none !important;
    }

    .search-container-mobile {
        display: block !important;
    }
}

@media (max-width: 600px) {
    .input-search-container {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .mobile-actions {
        margin-top: 8px;
    }

    .mobile-actions button:first-of-type {
        margin: 0 8px 0 0 !important;
    }
}

.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}
  
.side-menu {
    position: -webkit-sticky;
    /* Safari */
    position: sticky !important;
  
    background-color: #FFFFFF;
    animation-duration: 0.4s;
    box-shadow: 0 2px 10px 0 rgba(35,64,117,0.2);
    padding: 16px;
}

.text {
    color: #333333;
    line-height: 18px;
    margin: 0;
}

.text-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 8px;
}

.text-header {
    font-size: 14px;
    font-weight: bold;
}

.text-body {
    font-size: 12px;
}

.text-margin {
    margin-top: 8px;
}

.section-divider {
    height: 1px;
    background-color: #002C71;
    opacity: 0.1;
    margin-top: 4px;
    margin-bottom: 8px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.export-button {
    width: 100%;
}

.search-container-mobile {
    display: none;
}

.input-search-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
}

.input-search-mobile {
    padding: 0 !important;
}

.input-search-mobile mat-form-field {
    width: 100%;
    padding: 0 !important;
}

.mobile-actions {
    display: flex;
    align-items: center;
}

.mobile-actions button:first-of-type {
    margin: 0 8px;
}

.map-box {
    margin-top: 16px;
}

.map-box-partial {
    height: 400px;
}

.map-box-full {
    height: 80vh;
}

.action-btn {
    height: 29px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    border: 1px solid #000000;
    width: 100%;
}

.header-container {
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(135deg, #0053A4 0%, #002C71 100%);
    box-shadow: 0 20px 40px 0 rgba(190, 190, 205, 0.5);
    animation-duration: 0.5s;
}

.spacer-toolbar {
    flex: 1 1 auto;
}

.action-buttons {
    padding: 0 14px;
}

.toggle-container {
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.toggle-button {
    height: 100%;
    width: 100%;
    padding: 2px;
    cursor: pointer;
}

.toggle-divider {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #0053A4;
    left: 50%;
}

.active-btn {
    background-color: white;
    color: #0053A4;
}

.inactive-btn {
    color: #FFFFFF;
}

.action-icon {
    font-size: 15px;
}

.material-icons {
    cursor: pointer;
}

table {
    width: 100%;
}

.toolbar {
    color: white;
    margin: 0 auto;
    width: 100%;
    background: transparent;
}

.toolbar-row {
    padding: 0;
    justify-content: space-between;
}

.toolbar-action {
    display: flex;
    align-items: center;
}

@media (max-width: 465px) {
    ::ng-deep .inventory-search .mat-form-field-infix {
        width: 150px !important;
    }
}

.material-icons.opaque {
    opacity: 1;
}

.material-icons.hidden {
    opacity: 0;
}

mat-form-field {
    width: 100%;
    padding: 8px 0;
}

::ng-deep .inventory-search .mat-form-field-wrapper {
   padding: 0;
}

::ng-deep .inventory-search .mat-form-field-flex {
    padding: 8px !important;
    display: flex;
    align-items: flex-end;
}

::ng-deep .inventory-search .mat-form-field-underline {
    bottom: 0;
}

::ng-deep .inventory-search .mat-form-field-infix {
    padding: 0 !important;
    border: none;
}

.inventory-search-input {
    font-size: 16px;
    color: black;
    padding: 2px 0;
}

.inventory-input-icon {
    font-size: 24px;
    color: black;
    cursor: pointer;
}

.table-container {
    padding-bottom: 24px;
}

.table-content {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(35,64,117,0.2);
}

.table-header-text {
    opacity: 0.8;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

.table-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table {
    width: 100%;
}

th {
    border-bottom-width: 2px !important;
    border-color: #F3B229;
}

td {
    border: none !important;
}

td:first-of-type,.table-first-column {
    padding-left: 12px !important;
}

td:last-of-type {
    display: flex;
    justify-content: flex-end;
    padding: 8px !important;
    position: relative;
}

.table-header {
    height: 40px !important;
    background-color: white !important;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mat-row:nth-child(even) {
    background-color:#FAFAFA;
}

.no-padding {
    padding: 0;
}

.modal-content-container {
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: auto;
}

.export-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.export-icon {
    color: #F3B229;
    font-size: 40px;
}

.action-container {
    display: flex;
    justify-content: center;
}
  
.action {
    padding: 8px 32px;
}
  
.action-button {
    width: 100%;
}

.mat-radio-group {
    padding: 8px 0;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

::ng-deep .export-radio-group .mat-radio-checked .mat-radio-outer-circle {
    border-color: #06056c !important;
    background-color: #06056c !important;
}

::ng-deep .export-radio-group .mat-radio-checked .mat-radio-inner-circle {
    background-color: #FFF;
}