.view-title-section {
    background-color: #F7F7F7;
    position: sticky;
    top: 0;
    /* height: 100px; */
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    z-index: 1;
}

.view-title {
    height: 34px;
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
}

.map-box-partial {
    height: 400px;
}

.map-box-full {
    height: 80vh;
}

.toggle-btn-on {
    height: 32px;
    width: 32px;
    background-color: #000000;
    color: #D8D8D8;
}

.toggle-btn-off {
    height: 32px;
    width: 32px;
    background-color: #D8D8D8;
    color: #000000;
    border-radius: 5;
}

.left-toggle {
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

.right-toggle {
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

.action-btn {
    height: 29px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    border: 1px solid #000000;
    width: 100%;
}

.table-header {
    background-color: #F7F7F7;
}

.db-view-toggle {
    max-width: 300px;
}

.header-container {
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(135deg, #0053A4 0%, #002C71 100%);
    box-shadow: 0 20px 40px 0 rgba(190, 190, 205, 0.5);
    animation-duration: 0.5s;
}

.spacer-toolbar {
    flex: 1 1 auto;
}

.action-buttons {
    padding: 0 14px;
}

.active-btn {
    color: #FFFFFF;
    cursor: pointer;
}

.inactive-btn {
    color: #5C668C;
    cursor: pointer;
}

.action-icon {
    font-size: 15px;
}

table {
    width: 100%;
}

.toolbar {
    color: white;
    margin: 0 auto;
    width: 100%;
    background: transparent;
}

.toolbar-row {
    padding: 0;
    justify-content: space-between;
}

.toolbar-action {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .toolbar-title, .toolbar-action {
        width: 100%;
    }

    .toolbar-row {
        justify-content: start;
        flex-direction: column;
        min-height: 64px;
        height: unset;
    }

    ::ng-deep .inventory-search .mat-form-field-infix {
        width: 300px !important;
    }
}

@media (max-width: 465px) {
    ::ng-deep .inventory-search .mat-form-field-infix {
        width: 150px !important;
    }
}

.material-icons.opaque {
    opacity: 1;
}

.material-icons.hidden {
    opacity: 0;
}

::ng-deep .inventory-search .mat-form-field-wrapper {
    padding: 0;
    margin-left: 16px !important;
}

::ng-deep .inventory-search .mat-form-field-infix {
    padding: 0;
    bottom: 8px;
    width: 530px;
}

::ng-deep .inventory-search .mat-form-field-outline {
    background-color: white;
    border-radius: 4px;
}

::ng-deep .inventory-search .mat-form-field-flex:hover {
    border: none;
}

::ng-deep .mat-form-field-outline-thick {
    color: transparent !important;
}

.inventory-search-input {
    font-size: 16px;
    color: black;
}

.inventory-input-icon {
    font-size: 24px;
    color: black;
    position: relative;
    left: 5px;
    bottom: 5px;
    cursor: pointer;
}

table {
    width: 100%;
}

th {
    border-bottom-width: 2px !important;
    border-color: #F3B229;
}

td {
    border: none !important;
}

td:first-of-type,.table-first-column {
    padding-left: 8px !important;
}

td:last-of-type {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0 !important;
    position: relative;
}

.table-header {
    height: 40px !important;
    background-color: white !important;
}

.mat-row:nth-child(even) {
    background-color:#FAFAFA;
}
