.gov-nav {
  background: #FFFFFF;
}

.title-app {
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  font-size: 18px;
  letter-spacing: -0.434118px;
  color: #002C71;
}

.spacer-toolbar {
  flex: 1 1 auto;
}

.navbar-nav > li{
  margin-left:5px;
  margin-right:5px;
}