/* You can add global styles to this file, and also import other style files */

.dashboard-body {
    top: 100px
}

.form-container {
    border: 1px solid #999999;
    width: 450px;
}

.box-header {
    margin-top: 20px;
}


/* Common Buttons */

.button-fill {
    color: #FFFFFF !important;
    background-color: #234075 !important;
}

.button-hollow {
    color: #234075 !important;
    background-color: #F7F7F7 !important;
    border: 1px solid #234075 !important;
}


/* Remove outline box around buttons - overriding bootstrap */

button:focus,
button:active:focus,
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}


/* Center material icons with text */

.material-icons {
    vertical-align: middle;
}


/* clobal class for alignment */

.to-the-left {
    text-align: left;
}

.to-the-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


/* Make all headers bold */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}

.sub-header {
    color: rgba(0, 0, 0, 0.4);
}


/* Normal text content */

.body-text {}


/* Buttons with Material icons */

.btn-with-icon {
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
}


/* Input Fields */

.field-header {
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 15px;
    color: #999999;
}

.field-input {
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 15px;
    color: #333333;
    border: 1px solid #333333;
    box-sizing: border-box;
}

.field-input-invalid {
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 15px;
    color: #ff0000;
    border: 1px solid #ff0000;
    box-sizing: border-box;
}

.field {
    margin-top: 8px;
}

.btn-test {
    color: rgba(83, 48, 92, 0.493) !important;
    background-color: #ffffff !important;
    border: 1px solid rgba(83, 48, 92, 0.493) !important;
}

.box-shadow {
    background: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.divider {
    box-sizing: border-box;
    height: 1px;
    width: 100%;
    border: 1px solid grey;
}


/* Modal styles */

.modal-wrapper {
    height: 100%;
}

.modal-content-container {
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.modal-close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-action-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.modal-action {
    padding: 8px;
}

.modal-action-button {
    width: 100%;
}

input:focus {
    outline: none;
}