<div class=" admin-container">

<!-- Header Section -->
  <div class="container-fluid header-container">
    <div class="container">
      <mat-toolbar class="toolbar">
        <mat-toolbar-row>
          <span class="animated fadeIn">Admin Tools</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  <br />
  <div class="container">

    <!-- Data managment-->
    <div class="row box">
      <div class="col-12 section-title-text">
        Manage Data
      </div>
      <div class="col-12">
        <hr class="section-divider" />
      </div>
      <div class="col-12 col-sm-6 col-lg-10 section-body-text">
        There are currently {{numberOfDataInInspectAppToExport}} records in the Inspect App Database.
      </div>
      <div class="col-12 col-sm-6 col-lg-2">
        <button mat-raised-button class="action-button" color="primary" (click)="export()" [disabled]="!hasExportData">
          Export All Data
        </button>
      </div>
    </div>
    <!-- End Data managment -->

    <br />

    <span class="row box">

      <!-- Requests -->
      <div class="col-12">
        <app-request-table [requests]="requests" [roles]="activeRoles" (fetchRequests)="getAllRequests()">
        </app-request-table>
      </div>
      <!-- End Requests -->
      <span class="section-space"></span>
      <!-- All Users -->
      <div class="col-12">
        <app-user-table [users]="allUsers" [roles]="activeRoles" (fetchUsers)="getAllUsers()">
        </app-user-table>
      </div>
      <!-- End Users -->
    </span>
  </div>
</div>