<div *ngIf="!readonly" class="col-12 field d-inline-block animated" id="{{fieldId}}">
    <mat-form-field [attr.data-cy]="dataCy">
        <mat-select [formControl]="optionCtrl" placeholder="{{fieldHeader}}" [ngModel]="selectedItemName" [multiple]="multiple" (selectionChange)="selected($event)">
            <app-mat-select-search [formControl]="optionFilterCtrl"></app-mat-select-search>
            <mat-option *ngFor="let item of filteredItems; let i = index" [value]="item.name">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- https://stackblitz.com/edit/mat-select-search -->
</div>

<div *ngIf="readonly && !multiple" id="{{fieldId}}">
    <app-field [mode]="mode" [header]="fieldHeader" [value]="selectedItemName" [attr.data-cy]="dataCy">
    </app-field>
</div>

<div *ngIf="readonly && multiple" id="{{fieldId}}">
    <div class="col-12" *ngIf="fieldHeader">
        <label class="field-header">{{ fieldHeader }}</label>
    </div>
    <div *ngFor="let name of selectedItemName">
        <app-field [mode]="mode" [value]="name" [attr.data-cy]="dataCy">
        </app-field>
    </div>
</div>