<hr class="thinOrangeDivider" *ngIf="!inViewMode" />

<div class="container-fluid speciesContainer" *ngIf="!inViewMode">
    <div class="row sub-section-title">
        <p>Invasive Species to be treated at this location</p>
    </div>
    <div class="row">
        <div class="col-12">
            <p><b>Select Invasive Species treated with Herbicide selected
                <br>
            If species found at treatment is not found below an additional survey record is required.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="speciesTreatedLabel">Being Treated</label>
            <div class="row">
                <div *ngIf="speciesBeingTreated.length == 0" class="col-12">
                    <div class="container" id="emptySpeciesTreatedContainer">
                        <span class="align-middle">Select a species below to add it to this chemical treatment record</span>
                    </div>
                </div>
                <div *ngFor="let s of speciesBeingTreated" class="col-md-6 col-sm-12">
                    <div [id]="s.observationObject.species.commonName" class="card speciesTreatedCard container animated animation-config">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="card-title col-7">{{ s.observationObject.species.commonName }} ({{ s.observationObject.species.species }} {{ s.observationObject.species.genus }})</div>
                                <app-field class="card-text col-4" id="percentageField" [mode]="mode" suffix="%" [verification]="percentageFieldVerification" [value]="s.treatmentAreaCoverage" (valueChanged)="updatedAreaCoverage($event, s)"></app-field>
                                <button class="card-link btn button-empty col-1" id="deleteButton" (click)="moveBeingTreatedToNotTreated(s)">
                                        <mat-icon style="color: #CDCED2;">delete</mat-icon>
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="speciesTreatedLabel">Not Being Treated</label>
            <hr />
            <div class="row">
                <div *ngFor="let n of speciesNotBeingTreated" class="col-md-6 col-sm-12 align-items-stretch">
                    <div [id]="n.observationObject.species.commonName" class="card speciesNotTreatedCard container animated animation-config">
                        <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                                <div class="card-title col-7">
                                    <p>{{ n.observationObject.species.commonName }} ({{ n.observationObject.species.species }} {{ n.observationObject.species.genus }})</p>
                                </div>
                                <div class="col-5">
                                    <button class="btn button-fill treatButton" (click)="moveNotTreatedToBeingTreated(n)">Treat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!inViewMode" class="container-fluid add-species-card">
            <div class="row add-species-card-content">
                <span class="align-middle" style="margin-top: auto; margin-bottom: auto;">Is there an additional species in this area that is not shown above?</span>
                <button class="btn addSpeciesButton" (click)="addQuickObs = true">Add Additional Species</button>
            </div>
        </div>
    </div>
</div>

<app-add-quick-observation-modal *ngIf="addQuickObs && !inViewMode">
</app-add-quick-observation-modal>