<hr class="thinOrangeDivider" />

<div class="container-fluid speciesContainer">
    <div class="row sub-section-title">
        <p>Invasive Species to be treated at this location</p>
    </div>
    <div class="row">
        <div class="col-12">
            <p><b>Select Invasive Species treated with Herbicide selected
                <br>
            If species found at treatment is not found below an additional survey record is required.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="speciesTreatedLabel">Being Treated</label>
            <div class="row">
                <div *ngIf="speciesBeingTreated.length == 0" class="col-12">
                    <div class="container" id="emptySpeciesTreatedContainer">
                        <span class="align-middle">Select a species below to add it to this chemical treatment record</span>
                    </div>
                </div>
                <div *ngFor="let s of speciesBeingTreated" class="col-6">
                    <div class="container-fluid speciesTreatedCard" id="speciesCard">
                        <div class="row">
                            <div class="col-7">
                                <p><b>{{ s.observationObject.species.commonName }} ({{ s.observationObject.species.species }} {{ s.observationObject.species.genus }})</b></p>
                            </div>
                            <div class="container col-5">
                                <div class="row">
                                    <app-field class="col-6" [mode]="mode" suffix="%" [verification]="percentageFieldVerification" [value]="s.treatmentAreaCoverage" (valueChanged)="updatedAreaCoverage($event, s)"></app-field>
                                    <button class="btn button-empty col-3" (click)="moveBeingTreatedToNotTreated(s, speciesCard)">
                                            <mat-icon style="color: #CDCED2;">delete</mat-icon>
                                        </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="speciesTreatedLabel">Not Being Treated</label>
            <hr />
            <div class="row">
                <div *ngFor="let n of speciesNotBeingTreated" class="col-6">
                    <div class="container-fluid speciesNotTreatedCard" id="speciesCard">
                        <div class="row">
                            <div class="col-7">
                                <p>{{ n.observationObject.species.commonName }} ({{ n.observationObject.species.species }} {{ n.observationObject.species.genus }})</p>
                            </div>
                            <div class="col-5">
                                <div class="row" style="margin-left: auto;">
                                    <button class="btn button-fill treatButton" (click)="moveNotTreatedToBeingTreated(n, speciesCard)">Treat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!inViewMode" class="container-fluid add-species-card">
            <div class="row add-species-card-content">
                <span class="align-middle" style="margin-top: auto; margin-bottom: auto;">Is there an additional species in this area that is not shown above?</span>
                <button class="btn addSpeciesButton" (click)="addQuickObs = true">Add Additional Species</button>
            </div>
        </div>
    </div>
</div>

<app-add-quick-observation-modal *ngIf="addQuickObs">
</app-add-quick-observation-modal>