.speciesTreatedLabel {
    text-transform: uppercase;
    color: #636363;
    padding-top: 16pt;
    padding-bottom: 6pt;
    letter-spacing: 1pt;
}

.sub-section-title {
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    margin-left: 2pt;
}

.thinOrangeDivider {
    border: 1px solid #F3B229;
    margin-top: -4pt;
}

.speciesContainer {
    border-style: solid;
    border-radius: 4pt;
    border-width: 1pt;
    border-color: #E5E9F2;
    font-size: smaller;
    padding: 16px;
    box-shadow: 0 0 5pt #E5E9F2;
    margin-top: 16pt;
}

.speciesTreatedCard {
    border-style: solid;
    border-radius: 4pt;
    border-color: #F4B634;
    border-width: 2pt;
    height: auto;
    display: flex;
    align-items: center;
    padding: 3pt;
    margin-top: 6pt;
}

.animation-config {
    animation-duration: 2s;
    animation-delay: 0.5s;
}

#percentageField {
    width: 100%;
    padding: 3pt;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: right;
}

.speciesNotTreatedCard {
    border-style: solid;
    border-radius: 4pt;
    border-color: #f1f1f3;
    border-width: 2pt;
    display: flex;
    padding: 3pt;
    margin-top: 6pt;
    margin-bottom: 3pt;
}

.speciesNotTreatedCard .card-title {
    align-items: flex-start;
}

.add-species-card {
    background-color: #F5F6FA;
    border-radius: 4pt;
    text-align: center;
    padding: 16pt;
    margin: 10pt;
    display: flex;
}

.card-title {
    overflow-wrap: break-word;
}

.speciesTreatedCard .card-title {
    font-weight: bold;
}

.add-species-card-content {
    display: inline-flex;
    margin: auto;
}

.treatButton {
    height: auto;
    width: auto;
    font-size: smaller;
    text-align: right;
    display: flex;
    margin-left: auto;
}

#deleteButton {
    margin-left: auto;
    padding: 0;
}

.addSpeciesButton {
    background-color: white;
    vertical-align: middle;
    height: 30pt;
    border-width: 1pt;
    border-color: #5E739B;
    font-size: smaller;
    margin-left: 16pt;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#emptySpeciesTreatedContainer {
    background-color: #E1E1E6;
    border-radius: 4pt;
    text-align: center;
    padding: 15pt;
}

app-add-quick-observation-modal {
    opacity: 1;
}