<div class="container">
  <div class="row">
    <div class="col-12 section-title">
      Indicators
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-12">
      <div class="container card">
        <div class="row">
             <div class="col-4">
                <app-checkbox
                [header]="'Sample Taken'"
                [value]="sampleTakenIndicator"
                (selectionChanged)='sampleTakenIndicatorChanged($event)'>
                </app-checkbox>
            </div>
            <div class="col-4">
                <app-checkbox
                [header]="'Well indicator'"
                [value]="wellIndicator"
                (selectionChanged)='wellIndicatorChanged($event)'>
                </app-checkbox>
             </div>
            <div class="col-4">
                <app-checkbox
                [header]="'Legacy site indicator'"
                [value]="legacysiteIndicator"
                (selectionChanged)='legacysiteIndicatorChanged($event)'>
                </app-checkbox>
             </div>
             <div class="col-4">
                <app-checkbox
                [header]="'EDRR indicator'"
                [value]="edrrIndicator"
                (selectionChanged)='edrrIndicatorChanged($event)'>
                </app-checkbox>
             </div>
             <div class="col-4">
                <app-checkbox
                [header]="'Research indicator'"
                [value]="researchIndicator"
                (selectionChanged)='researchIndicatorChanged($event)'>
                </app-checkbox>
            </div>
            <div class="col-4">
                <app-checkbox
                [header]="'Special care flag'"
                [value]="specialCareFlag"
                (selectionChanged)='specialCareFlagChanged($event)'>
                </app-checkbox>
             </div>
             <div class="col-4">
                <app-checkbox
                [header]="'Biological indicator'"
                [value]="biologicalIndicator"
                (selectionChanged)='biologicalIndicatorChanged($event)'>
                </app-checkbox>
             </div><div class="col-4">
                <app-checkbox
                [header]="'Aquatic indicator'"
                [value]="aquaticIndicator"
                (selectionChanged)='aquaticIndicatorChanged($event)'>
                </app-checkbox>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="divider">
</div>

<div class="container">
    <div class="row">
      <div class="col-12 section-title">
        Further Observation Details
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-12">
          <div class="container card">
              <div class="row">
                <!-- 1st row -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <app-dropdown 
                              [mode]="mode"
                              [items]="proposedActions" 
                              [fieldHeader]="'Proposed Action'"
                              [selectedItem]="selectedProposedAction"
                              (selectionChanged)='proposedActionChanged($event)'>
                            </app-dropdown>
                        </div>
                     </div>
                </div>
                <!-- 2nd row -->
                <div class="col-12">
                    <div class="row">
                      <div class="col-12 col-md-4">
                        <div class="col-12 field">
                          <label class="field-header">Attach Photo</label>
                          <button class="btn  button-fill field">Select From Device</button>
                        </div>
                      </div>
                      <div class="col-12 col-md-4">
                          <app-field
                            *ngIf="sampleTakenIndicator"
                            [mode]="mode"
                            [header]="'Sample Taken'"
                            [value]="sampleTaken"
                            (valueChanged)='sampleTakenChanged($event)'>
                          </app-field>
                      </div>
                      <div class="col-12 col-md-4">
                          <app-field
                            *ngIf="sampleTakenIndicator"
                            [mode]="mode"
                            [header]="'Range Unit Number'"
                            [value]="rangeUnitNumber"
                            (valueChanged)='rangeUnitNumberChanged($event)'>
                          </app-field>
                      </div>
                    </div>
                  </div>
                <!-- 3rd row -->
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-md-4">
                        <app-dropdown 
                          [mode]="mode"
                          [items]="groundSlopes" 
                          [fieldHeader]="'Ground Slope'"
                          [selectedItem]="selectedGroundSlope"
                          (selectionChanged)='groundSlopeChanged($event)'>
                        </app-dropdown>
                    </div>
                    <div class="col-12 col-md-4">
                        <app-dropdown 
                            [mode]="mode"
                            [items]="groundAspects" 
                            [fieldHeader]="'Ground Aspect'"
                            [selectedItem]="selectedGroundAspect"
                            (selectionChanged)='groundAspectChanged($event)'>
                          </app-dropdown>
                    </div>
                    <div class="col-12 col-md-4">
                        <app-field
                          [mode]="ViewMode"
                          [header]="'Well Proximity'" 
                          [value]="wellProximity">
                        </app-field>
                    </div>
                  </div>
                </div>
                <!-- 4th row -->
                <div class="col-12">
                  <div class="row">
                    <div class="col-8">
                      <app-dropdown
                        [mode]="mode" 
                        [items]="geometries" 
                        [fieldHeader]="'Geometry'"
                        [selectedItem]="selectedSurveyGeometry"
                        (selectionChanged)='surveyGeometryChanged($event)'>
                      </app-dropdown>
                    </div>
                  </div>
                </div>
            </div>          
         </div>
         <hr class="divider">
      </div>
  </div>