<div class="container">
  <div class="row">
    <h3>Admin Tools</h3>
  </div>
  <br />
  <!-- Requests -->
  <div class="row">
    <h4>Pending Access Requests</h4>
  </div>
  <div class="row">
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
  </div>
  <div class="row">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Current Role</th>
          <th scope="col">Requested Role</th>
          <th scope="col">Reasons</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests; let i = index">
          <td scope="row">{{request.username}}</td>
          <td>{{request.name}}</td>
          <td>{{request.currentRole}}</td>
          <td>{{request.requestedRole}}</td>
          <td>{{request.reasons}}</td>
          <td>
            <button type="button" class="btn button-fill" (click)="setFocusedAccessRequest(request)" data-toggle="modal"
              data-target="#requestResponseModal">
              Respond
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End Requests -->
  <!-- Access Request Modal -->
  <app-access-request-response-modal [accessRequest]="focusedAccessRequest"></app-access-request-response-modal>
  <!-- END Access Request Modal -->
  <br />
  <!-- All Users -->
  <div class="row">
    <h4>All Users</h4>
  </div>
  <div class="row">
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
  </div>
  <div class="row">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers; let i = index">
          <td scope="row" [ngClass]="user.isActive ? 'activeUser' : 'inActiveUser'">{{user.username}}</td>
          <td [ngClass]="user.isActive ? 'activeUser' : 'inActiveUser'">{{user.firstName}}</td>
          <td [ngClass]="user.isActive ? 'activeUser' : 'inActiveUser'">{{user.lastName}}</td>
          <td [ngClass]="user.isActive ? 'activeUser' : 'inActiveUser'">{{user.email}}</td>
          <td [ngClass]="user.isActive ? 'activeUser' : 'inActiveUser'">{{getUserRole(user)}}</td>
          <td>
            <!-- Dropdown -->
            <ng-template #userActionsDropdown>
              <div class="row dropdown-box">
                <div class="col-sm-12 field d-inline-block" ngbDropdown #roleDropdown="ngbDropdown">
                  <label for="UserRole" class="field-header">Role</label>
                  <input type="text" 
                        class="form-control field-box field-input" 
                        id="rolesDropdown" ngbDropdownAnchor
                        (focus)="roleDropdown.open()" readonly
                        [(ngModel)]="user.accessCodes[0].role"
                        (change)="setUserRole(user, role)"
                        />
                  <div ngbDropdownMenu aria-labelledby="rolesDropdown">
                    <div class="col-12" *ngFor="let role of activeRoles; let i = index">
                      <button class="btn" ngbDropdownItem (click)='setUserRole(user, role)'>
                        {{role.role}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-6">
                  <label for="active" class="field-header">
                    Account Active
                  </label>
                </div>
                <div class="col-6">
                  <label class="switch">
                    <input name="active" type="checkbox" [(ngModel)]="user.isActive" (change)="userActiveStatusChanged(user, user.isActive)">
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                  <hr style="width: 100%; color: lightgray; height: 1px; background-color:lightgray;" />
                  <button type="button" class="btn button-fill centerd btn-block" (click)="removeUser(user); userActions.close()">
                    Remove User
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template #userActionsDropdownTitle>
              <div class="row">
                <div class="col-12">
                  User Actions
                  <button type="button" class="close" (click)="userActions.close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </ng-template>
            <!-- End of Dropdown -->
            <button type="button" class="btn button-hollow" [ngbPopover]="userActionsDropdown"
              [popoverTitle]="userActionsDropdownTitle" [autoClose]="false" triggers="manual" #userActions="ngbPopover"
              (click)="userActions.open()">
              Actions
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- END All Users -->
</div>