<div class="container">
  <div class="row">
    <h3>Admin Tools</h3>
  </div>
  <br />
  <!-- Requests -->
  <div class="row">
    <h4>Pending Access Requests</h4>
  </div>
  <div class="row">
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
  </div>
  <div class="row">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Current Role</th>
          <th scope="col">Requested Role</th>
          <th scope="col">Reasons</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          <tr app-request-cell *ngFor="let request of requests; let i = index" [request]="request" (shouldRefresh)="refreshRequests()">
      </tbody>
    </table>
  </div>
  <!-- End Requests -->
  <br />
  <!-- All Users -->
  <div class="row">
    <h4>All Users</h4>
  </div>
  <div class="row">
    <hr style="width: 100%; color: black; height: 1px; background-color:black;" />
  </div>
  <div class="row">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr app-user-cell *ngFor="let user of allUsers; let i = index" [user]="user">
        </tr> 
      </tbody>
    </table>
  </div>
  <!-- END All Users -->
</div>