<!-- Editable -->
<div *ngIf="!readonly" class="col-12 field">
  <label class="field-header">{{header}}</label>

  <!-- Single field -->
  <input *ngIf="!multiline" type="text" [(ngModel)]="value" class="form-control edit" [attr.id]="fieldId"
    [ngClass]="isValid && !readonly ? 'valid' : 'invalid'"
    [readonly]="readonly"/>
    
  <!-- multiLine -->
  <textarea *ngIf="multiline" rows="4" [(ngModel)]="value" class="form-control" [attr.id]="fieldId"
    [ngClass]="isValid ? 'valid' : 'invalid'"
    [readonly]="readonly"></textarea>
</div>


<!-- Read only -->
<div *ngIf="readonly" class="col-12 field">
  <label class="field-header">{{header}}</label>

  <!-- Single Field -->
  <input *ngIf="!multiline" type="text" [(ngModel)]="value" class="form-control view" [attr.id]="fieldId"
    [readonly]="readonly"/>
  <!-- multiLine -->
  <textarea *ngIf="multiline" rows="4" [(ngModel)]="value" class="form-control" [attr.id]="fieldId"
  [readonly]="readonly"></textarea>
</div>