<hr class="thinOrangeDivider" />

<div *ngIf=!inViewMode>
    <div class="row sub-section-title">
        <p>Herbicide and Application</p>
    </div>

    <!-- Summary Line Section -->
    <div class="row animated" id="mixDeliveryRate">
        <div class="col-12 zeroPadding">
            <app-field [mode]="mode" header="Mix Delivery Rate (calibrated)" suffix="L/ha" [value]="mixDeliveryRate" [verification]="deliveryRateVerification" (valueChanged)="deliveryRateChanged($event)">
            </app-field>
        </div>
    </div>


    <div class="container-fluid herbicideContainer animated" id="herbicideMix">
        <!-- Herbicide Selection Section -->
        <div class="row col-12" style="margin: 0;">
            <label>Select Herbicides</label>
        </div>

        <!-- View when zero herbicides selected -->
        <div class="row" *ngIf="!isHerbicideEmpty && isTankMixEmpty">
            <div class="col-12">
                <app-dropdown [mode]="mode" fieldHeader="Select Herbicide..." [items]="herbicideDropdowns" (selectionChanged)="herbicideChanged($event)">
                </app-dropdown>
            </div>
        </div>

        <!-- View when 1+ herbicides selected -->
        <div class="col-12 container zeroPadding" *ngIf="!isTankMixEmpty">
            <div class="row labelsRow">
                <div class="col-5">
                    <label>Select Herbicide(s) to add to treatment:</label>
                </div>
                <div class="col-3">
                    <label>Application Rate</label>
                </div>
                <div class="col-3">
                    <label>Amount of Chemical Used</label>
                </div>
            </div>
            <div class="container">
                <div *ngFor="let h of tankMixes; let i = index" [ngClass]="{ 'row full-width': true, 'animated fadeInLeft animationDuration': h.showAnimation }">
                    <div class="col-5 zeroPadding">
                        <app-dropdown [mode]="mode" [dataCy]="'herbicide-'+(i+1)" [fieldHeader]="h.herbicide.displayLabel" [items]="herbicideDropdowns" (selectionChanged)="updateHerbicide($event, i)">
                        </app-dropdown>
                    </div>
                    <div class="col-3 zeroPadding">
                        <app-field [mode]="mode" [dataCy]="'application-rate-'+(i+1)" [verification]="applicationRateVerification" [suffix]="h.herbicide.applicationUnits" [value]="h.applicationRate" (valueChanged)="applicationRateChanged($event, h)" [showFocus]="showFocus(i)"></app-field>
                    </div>
                    <div class="col-3 zeroPadding">
                        <app-field [mode]="mode" [dataCy]="'amount-used-'+(i+1)" [verification]="amountUsedVerification" suffix="L" [value]="h.amountUsed" (valueChanged)="amountUsedChanged($event, h)"></app-field>
                    </div>
                    <div class="col-1 zeroPadding" style="margin-bottom: 0pt; text-align: right;">
                        <button class="btn button-empty" (click)="removeHerbicide(h)" [attr.data-cy]="'delete-herbicide-'+(i+1)">
                            <mat-icon style="color: #CDCED2;">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="tankMixes.length > 0 && !showEmptyRow" class="container col-6">
            <div class="row">
                <button class="btn addHerbicideButton" (click)="addEmptyTableRow()"><strong>Add Additional Herbicide</strong></button>
            </div>
        </div>

        <!-- Empty dropdown row when clicked on Add Additional Herbicide button -->
        <div class="container" *ngIf="showEmptyRow">
            <div style="display: inline-flex;">
                <div class="row full-width animated fadeIn animationDuration">
                    <div class="col-5 zeroPadding">
                        <app-dropdown [mode]="mode" [dataCy]="'herbicide-new'" [items]="herbicideDropdowns" (selectionChanged)="herbicideChanged($event)"></app-dropdown>
                    </div>
                    <div class="col-3 zeroPadding">
                        <app-field type="number" [mode]="mode" [dataCy]="'application-rate-new'" suffix="L/ha"></app-field>
                    </div>
                    <div class="col-3 zeroPadding">
                        <app-field type="number" [mode]="mode" [dataCy]="'amount-used-new'" suffix="L"></app-field>
                    </div>
                    <div class="col-1 zeroPadding" style="margin-bottom: 0pt; text-align: right;">
                        <button class="btn button-empty" (click)="removeEmptyRow()">
                            <mat-icon style="color: #CDCED2;">delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>