<div class="container">
    <!-- Header Section -->
  <div class="row view-title-section">
      <div class="col-12 col-md-9 view-title">
        Lucy Database
      </div>
    </div>
    <!-- -------------------- -->
  <div class="row">
    <table class="table table-hover">
      <thead class="thead, table-header">
        <tr>
          <th scope="col" (click)="sortByDate()">
            Date
            <i *ngIf="sortingByDate && !sortAscending" class="material-icons">arrow_downward</i>
            <i *ngIf="sortingByDate && sortAscending" class="material-icons">arrow_upward</i>
          </th>
          <th scope="col" (click)="sortBySpecies()">
            Species
            <i *ngIf="sortingBySpecies && !sortAscending" class="material-icons">arrow_downward</i>
            <i *ngIf="sortingBySpecies&& sortAscending" class="material-icons">arrow_upward</i>
          </th>
          <th scope="col" (click)="sortByLocation()">
            Location
            <i *ngIf="sortingByLocation && !sortAscending" class="material-icons">arrow_downward</i>
            <i *ngIf="sortingByLocation && sortAscending" class="material-icons">arrow_upward</i>
          </th>
          <th scope="col" (click)="sortBySurveyor()">
            Surveyor
            <i *ngIf="sortingBySurveyor && !sortAscending" class="material-icons">arrow_downward</i>
            <i *ngIf="sortingBySurveyor && sortAscending" class="material-icons">arrow_upward</i>
          </th>
          <th scope="col">
            ACTIONS
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row" *ngFor="let item of observations">
          <td scope="row" (click)="view(item)">{{item.date}}</td>
          <td scope="row" (click)="view(item)">{{item.invasivePlantSpecies[0].commonName}}</td>
          <td scope="row" (click)="view(item)">{{item.lat}}</td>
          <td scope="row" (click)="view(item)">{{item.observerFirstName + " " +item.observerLastName}}</td>
          <td>
            <div class="option-buttons">
              <button class="btn edit-button" type="button" (click)="view(item)">
                View
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>