<app-nav-bar *ngIf="isReady && isAuthenticated"></app-nav-bar>
<div *ngIf="!isAuthenticated" class="alert alert-warning" role="alert">
        <strong>Login!</strong> Please login to view Species list.
</div>
<app-login *ngIf="!isAuthenticated"></app-login>
<router-outlet *ngIf="isAuthenticated"></router-outlet>
<!-- <router-outlet *ngIf="!isAuthenticated"></router-outlet> -->

<!-- USER ACCESS CHANGED MESSAHE Modal -->
<app-user-access-updated-modal *ngIf="userAccessUpdatedMessage" (userAccessUpdatedModalEventEmitter)='userAccessUpdatedModalEmitted($event)' [message]="userAccessUpdatedMessage">
</app-user-access-updated-modal>
<!-- ----- -->

<!-- ALERT MODAL -->
<app-alert *ngIf="alertMessage" [model]="alertMessage"></app-alert>
<!-- ----- -->