<!-- Loading animation  -->
<div *ngIf="showLoading" class="overlay">
        <div class="loading-icon-container">
         <lottie-animation-view 
                [options]="lottieConfig" 
                [width]="200" [height]="200"
                (animCreated)="handleAnimation($event)">
        </lottie-animation-view>
        </div>
</div>

<!-- Nav Bar -->
<app-nav-bar *ngIf="isReady && isAuthenticated"></app-nav-bar>
<!-- Login Page  -->
<app-login *ngIf="!isAuthenticated"></app-login>
<!-- Current route  -->
<router-outlet *ngIf="isAuthenticated"></router-outlet>

<!-- USER ACCESS CHANGED MESSAHE Modal -->
<app-user-access-updated-modal *ngIf="userAccessUpdatedMessage" (userAccessUpdatedModalEventEmitter)='userAccessUpdatedModalEmitted($event)' [message]="userAccessUpdatedMessage">
</app-user-access-updated-modal>
<!-- ----- -->

<!-- Toast  -->
<app-toast *ngIf="toastMessage" [model]="toastMessage"></app-toast>

<!-- ALERT MODAL -->
<app-alert *ngIf="alertMessage" [model]="alertMessage"></app-alert>
<!-- ----- -->