<div class="container min-map-height">
  <div class="row">
    <!-- Left content  -->
    <div class="col-12 col-md-4">
      <div class="row">
        <!-- Input mode switch  -->
        <div class="col-12 input-mode">
          <div class="input-mode-container">
            <button
              class="btn switch-btn"
              [ngClass]="
                !locationEntryModeLatLong ? 'input-mode-on' : 'input-mode-off'
              "
              (click)="switchInputUTM()"
            >
              UTM
            </button>
            <button
              class="btn switch-btn"
              [ngClass]="
                locationEntryModeLatLong ? 'input-mode-on' : 'input-mode-off'
              "
              (click)="switchInputLatLong()"
            >
              Lat / Long
            </button>
          </div>
        </div>
      </div>
      <!-- lat long input  -->
      <div *ngIf="locationEntryModeLatLong">
        <div class="row">
          <div class="full-width">
            <app-field
              [mode]="mode"
              [header]="object.latitude.header"
              [value]="lat"
              [verification]="object.latitude.verification"
              [required]="object.latitude.required"
              (valueChanged)="latChanged($event)"
            >
            </app-field>
          </div>
        </div>
        <div class="row">
          <div class="full-width">
            <app-field
              [mode]="mode"
              [header]="object.longitude.header"
              [value]="long"
              [verification]="object.longitude.verification"
              [required]="object.longitude.required"
              (valueChanged)="longChanged($event)"
            >
            </app-field>
          </div>
        </div>
      </div>
      <!-- UTM input  -->
      <div *ngIf="!locationEntryModeLatLong">
        <div class="row">
          <div class="full-width">
            <app-field
              [mode]="mode"
              [header]="'Eastings'"
              [value]="eastings"
              [validationFunc]="validation.isValidUTMEastings.bind(validation)"
              (valueChanged)="eastingChanged($event)"
            >
            </app-field>
          </div>
        </div>
        <div class="row">
          <div class="full-width">
            <app-field
              [mode]="mode"
              [header]="'Northings'"
              [value]="northings"
              [validationFunc]="validation.isValidUTMNorthings.bind(validation)"
              (valueChanged)="northingsChanged($event)"
            >
            </app-field>
          </div>
        </div>
        <div class="row">
          <div class="full-width">
            <app-field
              [mode]="mode"
              [header]="'Zone'"
              [value]="zone"
              [validationFunc]="validation.isValidInteger.bind(validation)"
              (valueChanged)="zoneChanged($event)"
            >
            </app-field>
          </div>
        </div>
      </div>
    </div>
    <!-- Map -->
    <div class="col-12 col-md-8 leaf">
      <app-map-preview
        (centerPointChanged)="mapCenterChanged($event)"
        [cluster]="false"
        [center]="mapCenter"
        [markers]="markers"
      >
      </app-map-preview>
    </div>
  </div>
</div>
