.view-title-section {
    background-color: #F7F7F7;
    position: sticky;
    top:0;
    width:100%;
    /* height: 100px; */
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
/*    z-index:100;*/
}

.view-title {
    height: 34px;
	width: 304px;
	color: #000000;
	font-size: 28px;
	font-weight: bold;
    line-height: 34px;
}

.view-title-detail {
    color: rgba(0,0,0,0.4);
}

.submit-button {
	width: 250px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.32px;
	line-height: 21px;
    text-align: center;
    /* float: right; */
}

.subsection-title {
    color: #000000;
	font-size: 22px;
	font-weight: bold;
    line-height: 26px;
    padding-top: 16px;
    
}

.seperator {
    border-left: 1px solid black;
    margin-top: -1px;
    padding-top: 1px;
    align-content: center;
    vertical-align: middle;
    /* display: table; */
}

.separator-inner {
    vertical-align: middle;
    align-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav-bar {
    display: flex;
}