.view-title-section {
    background-color: #F7F7F7;
    position: sticky;
    top:0;
    width:100%;
    /* height: 100px; */
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    z-index:1;
}

.view-title {
    height: 34px;
	width: 304px;
	color: #000000;
	font-size: 28px;
	font-weight: bold;
    line-height: 34px;
}

.view-title-detail {
    color: rgba(0,0,0,0.4);
}

.submit-button {
	width: 250px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.32px;
	line-height: 21px;
    text-align: center;
    /* float: right; */
}

.subsection-title {
    color: #000000;
	font-size: 22px;
	font-weight: bold;
    line-height: 26px;
    padding-top: 16px;
    
}

.seperator {
    border-left: 1px solid black;
    margin-top: -1px;
    padding-top: 1px;
    align-content: center;
    vertical-align: middle;
    /* display: table; */
}

.separator-inner {
    vertical-align: middle;
    align-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.test-btn {
    align-content: center;
    text-align: center;
    background: greenyellow;
    border-radius: .25rem;
    position: fixed;
    bottom: 0;
    width: 18%;
}

/* HANDELING SIDE NAV ON SCREEN SIZE CHANGE */
@media (min-width: 992px) {
    /* CSS that should be displayed if width is equal to or greater than 992px goes here */
    .nav-bar {
        display: flex;
        height: 50%; 
        width: 260px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 0px;
        z-index:1;
    }
    
    .content {
        margin-left: 260px; /* Same as the width of the sidebar */
    }
  }

  @media (max-width: 992px) {
    /* CSS that should be displayed if width is equal to or greater than 992px goes here */
    .nav-bar {
        position: sticky;
        top: 0;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow-x: hidden
        /* z-index: inherit; */
    }
    .content {
        
    }
  }
  /****************************************/

  /* Confirmation */
  .entries-added {
      color: #000000;
      font-size: 34px;
      font-weight: bold;
      line-height: 41px;
  }

  .back-to-db {
      height: 50px;
      width: 250px;
      color: #000000;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.32px;
      line-height: 21px;
      text-align: center;
  }

  .confirmation-divider {
	height: 1px;
	width: 342px;
	background-color: #000000;
}
