<!-- Submission message -->
<div *ngIf="submitted">
    <div class="container text-center">
        <div class="row">
          <div class="col-12">
            <lottie-animation-view [options]="lottieConfig" [width]="200" [height]="200"
              (animCreated)="handleAnimation($event)">
            </lottie-animation-view>
          </div>
        </div>
        <div class="row">
            <div class="col-12  entries-added">
              {{submitedMessage}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
              <hr class="confirmation-divider">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-secondary back-to-db button-hollow" (click)="viewInventory()">Back to Database</button>
            </div>
        </div>
    </div>
</div>
<!-- Entry Form  -->
<div *ngIf="!submitted">
   <!-- Header Section  -->
  <div class="container-fluid header-container">
    <div class="container">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span class="view-title"> {{pageTitle}} <span *ngIf="!readonly || !inReviewMode" class="view-title-detail"> - Plant</span></span>
          <span class="spacer-toolbar"></span>
          <button *ngIf="!readonly || inReviewMode" type="button"
            class="btn btn-secondary submit-button button-hollow action-buttons"
            (click)="submitAction()">{{submitBtnName}}</button>
          <button *ngIf="inReviewMode" type="button"
            class="btn btn-secondary submit-button button-hollow action-buttons"
            (click)="exitReviewMode()">Edit</button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
  <!-- -------------------- -->
  <div class="container">
  <br />
  <div class="row">
     <!-- Side Nav -->
    <div class="col-12 col-lg-3 nav-bar">
      <app-side-nav [visibleClasses]="visibleClasses"></app-side-nav>
    </div>
    <!-- -------------------- -->
    <div class="col content">
      <!-- Basic Information -->
      <app-add-plant-observation-basic-information 
      [mode]="mode"
      class="basic-Information" 
      [observationObject]="observationObject"
      (basicInfoChanged)="basicInfoChanged($event)"

      inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)" 
      >
      </app-add-plant-observation-basic-information>
      <!-- -------------------- -->
      <!-- Invasive Species -->
      <app-add-plant-observation-invasive-plant-species-cell
      [mode]="mode"
      [observationObject]="observationObject"
      (invasivePlantSpeciesChanged)='invasivePlantSpeciesChanged($event)'

      inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)" 
      >
      </app-add-plant-observation-invasive-plant-species-cell>
      <!-- -------------------- -->

      <!-- Advanced Data -->
      <app-add-plant-observation-advanced-data
      [mode]="mode"
      [observationObject]="observationObject"
      (invasivePlantSpeciesChanged)='advancedDataChanged($event)'

      inViewport
      [inViewportOptions]="{ threshold: [0] }"
      (inViewportAction)="onIntersection($event)" >

      </app-add-plant-observation-advanced-data>
      <!-- -------------------- -->
    </div>
  </div>
  <!-- test btn -->
  <div *ngIf="creating" class="row test-btn">
      <div class="col-12">
        <button class="btn" (click)="generateObservationForTesting()">Generate for testing</button>
      </div>
    </div>
    <br />
  <!-- -------------------- -->
</div>
</div>