<div class="view-title-section">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 view-title">
        Add Observation <span class="view-title-detail">- Plant</span>
      </div>
      <div class="col-12 col-md-3">
        <button type="button" class="btn btn-secondary submit-button">Submit Observation</button>
      </div>
    </div>
  </div>
</div>
<!-- Basic Information -->
<app-add-plant-observation-basic-information [mode]="mode">
</app-add-plant-observation-basic-information>
<!-- Invasive Species -->
<app-add-plant-observation-invasive-plant-species [mode]="mode">
</app-add-plant-observation-invasive-plant-species>