.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 16px;
    font-size: 12px;
}

.action-button {
    border: 1px solid #979797;
    border-radius: 2px;
    width: 66px;
}

.edit-button {
    margin-right: 15px;
}

.create-button {
    width: 100%;
    border-radius: 2px;
    background: #9B9B9B;
    font-weight: normal;
    line-height: 21px;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.32px;
}

.filter-category {
    line-height: 19px;
    font-size: 15px;
}

.filter-label {
    line-height: 19px;
    font-size: 15px;
    color: #999999;
    width: 100%;
}

.filter-dropdown {
    border-radius: 2px;
    width: 100%;
    border: 1px solid #333333;
    box-sizing: border-box;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-center {
    align-items: center;
}

.option-buttons {
    display: flex;
    flex-wrap: wrap;
}

.table-header {
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    font-size: 12px;
}

.table-row {
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 14px;
    letter-spacing: -0.337647px;
}

.table td,
.table th {
    vertical-align: unset;
}