# ------------------------------------------------------------------------------
# Project Details
# ------------------------------------------------------------------------------
PROJECT_NAME=invasivesbc
ENVIRONMENT=local
TAG=lucy
API_PORT=7070
BUILD_TARGET=base
APP_VERSION=0-dev.1
APP_PORT=3033
VERSION=0.0.1

# ------------------------------------------------------------------------------
# Postgrest Database
# ------------------------------------------------------------------------------
DB_HOST=db
DB_USER=
DB_PASS=
DB_PORT=5432
DB_DATABASE=
DB_SCHEMA=

# ------------------------------------------------------------------------------
# KeyClock URLS
# ------------------------------------------------------------------------------
APP_CERTIFICATE_URL=
APP_CERTIFICATE_URL_TEST=

# ------------------------------------------------------------------------------
# Mailer Config
# ------------------------------------------------------------------------------
APP_EMAIL_SENDER=
APP_EMAIL_SENDER_PWD=
APP_EMAIL_TEST_RECEIVER=
APP_REPORT_RECEIVER=