<div class="page-bg">
    <div class="container login-card justify-content-center">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Sign In
                </mat-card-title>
                <mat-card-subtitle>
                    To continue to {{ appTitle }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="center">
                <mat-list>
                    <mat-list-item>
                        <button mat-raised-button class="login-btn" (click)='loginWithIDIR()'>
                            Login with IDIR
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <button mat-raised-button class="login-btn" (click)='loginWithBCeID()'>
                            Login with BCeID
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>