<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h2>Welcome to LucyDB</h2>
    </div>
    <div class="col-12 text-center sub-header">
      Please confirm the information below is correct before continuing.
    </div>
    <div>
      <!-- first & last name -->
      <div class="row">
        <div class="col-sm-6 field">
          <label for="name" class="field-header">First Name</label>
          <input type="text" [(ngModel)]="firstName" (change)="firstNameChanged()"
            class="form-control field-box field-input" />
        </div>
        <div class="col-sm-6 field">
          <label for="name" class="field-header">Last Name</label>
          <input type="text" [(ngModel)]="lastName" (change)="lastNameChanged()"
            class="form-control field-box field-input" />
        </div>
      </div>
      <!-- Email -->
      <div class="row">
        <div class="col-sm-12 field">
          <label for="name" class="field-header">Email Address</label>
          <input type="text" [(ngModel)]="email" (change)="emailAddressChanged()"
            class="form-control field-box field-input" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 field d-inline-block" ngbDropdown #orgDropdown="ngbDropdown">
          <label for="name" class="field-header">Current Work Organization</label>
          <input type="text" [(ngModel)]="organization" (change)="organizationChanged()"
            class="form-control field-box field-input" id="orgizationsDropdown" ngbDropdownAnchor
            (focus)="orgDropdown.open()" readonly/>
          <div ngbDropdownMenu aria-labelledby="orgizationsDropdown">
            <div class="col-12" *ngFor="let org of organizations; let i = index">
                <button class="btn" ngbDropdownItem (click)='chooseOrganization(org)'>{{org}}</button>
            </div>
          </div>
        </div>
      </div>
      <!-- button  -->
      <br />
      <div class="row justify-content-center">
        <button class="btn next-button button-fill" (click)='next()'>Next</button>
      </div>
    </div>
  </div>
</div>