.edit {
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 15px;
}

.valid {
    color: #333333;
    border: 1px solid #333333;
    box-sizing: border-box;
}

.invalid {
    color: #ff0000;
    /* border: 1px solid rgba(233, 23, 23, 0.4); */
    box-sizing: border-box;
}

.view {
    background: rgba(255, 255, 255, 0.0);
    color: #333333;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    border: 0;
}

.view-field-background {
    background-color: rgba(51, 51, 51, 0.08);
}

.field {
    width: 100% !important;
}

.input-header-text {
    margin: 0;
}

.input-group {
    background-color: rgba(51, 51, 51, 0.08);
}

.input-group input {
    border: none;
    background-color: rgba(51, 51, 51, 0.0);
    padding-left: 0pt;
    padding-right: 0pt;
}

.input-group-addon {
    border: none;
    text-align: right;
    padding-left: 0pt;
    padding-right: 1pt;
    padding-top: 2pt;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    border: none;
    padding: 8px 0 !important;
    width: auto !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 2px 8px !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-wrapper {
    padding-bottom: 8px !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline {
    bottom: 8px !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
    padding-top: 8px !important;
}