<!-- Editable -->
<div *ngIf="!readonly" class="col-12 field">
  <label *ngIf="multiline" class="field-header">{{ header }}</label>

  <!-- Single field - Not required -->
  <mat-form-field *ngIf="!multiline && !required">
    <input
      matInput
      placeholder="{{ header }}"
      [(ngModel)]="value"
      [attr.id]="fieldId"
    />
  </mat-form-field>

  <!-- Single field - Required -->
  <mat-form-field *ngIf="!multiline && required">
    <input
      matInput
      placeholder="{{ header }}"
      [(ngModel)]="value"
      [attr.id]="fieldId"
      [formControl]="fieldFormControl"
      [errorStateMatcher]="matcher"
    />
    <!-- ERROR MESSAGES  -->
    <!-- Required  -->
    <mat-error *ngIf="fieldFormControl.hasError('required')">
      <strong>required</strong>
    </mat-error>
    <!-- Over max size  -->
    <mat-error
      *ngIf="
        !fieldFormControl.hasError('required') &&
        fieldFormControl.hasError('requiredLength')
      "
    >
      Too many characters.
    </mat-error>
    <!-- Positive Number  -->
    <mat-error
      *ngIf="
        !fieldFormControl.hasError('required') &&
        fieldFormControl.hasError('positiveNumber')
      "
    >
      Must be a positive number.
    </mat-error>
    <!-- Regex  -->
    <mat-error
      *ngIf="
        !fieldFormControl.hasError('required') &&
        fieldFormControl.hasError('requiredPattern')
      "
    >
      Invalid characters
    </mat-error>
    <!-- Latitude -->
    <mat-error
      *ngIf="
        !fieldFormControl.hasError('required') &&
        fieldFormControl.hasError('validLatitude')
      "
    >
      Latitude must be between 48 and 61 and have at least 5 decimal places.
    </mat-error>
    <!-- Longitude -->
    <mat-error
      *ngIf="
        !fieldFormControl.hasError('required') &&
        fieldFormControl.hasError('validLongitude')
      "
    >
      Longitude must be between -139 and -114 and have at least 5 decimals.
    </mat-error>
  </mat-form-field>

  <!-- multiLine -->
  <textarea
    *ngIf="multiline"
    rows="4"
    [(ngModel)]="value"
    class="form-control"
    [attr.id]="fieldId"
    [ngClass]="isValid ? 'valid' : 'invalid'"
    [readonly]="readonly"
  ></textarea>
</div>

<!-- Read only -->
<div *ngIf="readonly" class="col-12 field">
  <label class="field-header">{{ header }}</label>

  <!-- Single Field -->
  <input
    *ngIf="!multiline"
    type="text"
    [(ngModel)]="value"
    class="form-control view"
    [attr.id]="fieldId"
    [readonly]="readonly"
  />
  <!-- multiLine -->
  <textarea
    *ngIf="multiline"
    rows="4"
    [(ngModel)]="value"
    class="form-control"
    [attr.id]="fieldId"
    [readonly]="readonly"
  ></textarea>
</div>
