<div class="container text-center">
  <div class="row">
    <div class="col-12 component-header mt-5 animated fadeIn">
      Add Entries
    </div>
    <div class="col-12 component-sub-header animated fadeIn">
      Select an entry type
    </div>
    <div class="col-12 mt-3 animated bounceInUp">
      <button mat-raised-button color="primary" (click)="createObservation()">
        Invasive Plant Observation</button>
    </div>
    <div class="col-12 mt-2 animated bounceInUp">
      <button mat-raised-button color="primary" (click)="createTreatment()">
        Invasive Plant Treatment</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <button mat-raised-button (click)="uploadFile()">
       Upload Data File</button>
    </div>
  </div>
</div>
