<div class="container text-center">
  <div class="row">
    <div class="col-12 component-header mt-5">
      Add Entries
    </div>
    <div class="col-12 component-sub-header">
      Select an entry type
    </div>
    <div class="col-12 mt-3">
      <button mat-raised-button color="primary" (click)="createObservation()">
        Invasive Plant Observation</button>
    </div>
    <div class="col-12 mt-2">
      <button mat-raised-button color="primary" (click)="createMechanicalTreatment()">
        Invasive Plant Treatment (Mechanical)</button>
    </div>
    <div class="col-12 mt-2">
        <button mat-raised-button color="primary" (click)="createChemicalTreatment()">
          Invasive Plant Treatment (Chemical)</button>
      </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <button mat-raised-button (click)="uploadFile()">
       Upload Data File</button>
    </div>
  </div>
</div>
