<td scope="row">{{userUserame}}</td>
<td>{{userName}}</td>
<td>{{userRole}}</td>
<td>{{requestedAccessCode}}</td>
<td>{{requestNote}}</td>
<td>
  <button type="button" class="btn button-fill" (click)="responding = true" data-toggle="modal"
    data-target="#requestResponseModal">
    Respond
  </button>
</td>
<!-- Access Request Modal -->
<app-access-request-response-modal *ngIf="responding" (acessRequestModalEmitter)='acessRequestModalEmitted($event)' [accessRequest]="request">
</app-access-request-response-modal>
<!-- END Access Request Modal -->