  <!-- Modal -->
  <div class="modal fade" id="userAccessMessageModal" tabindex="-1" role="dialog"
    aria-labelledby="userAccessMessageModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- Modal Title -->
        <div class="modal-header">
          <h5 class="modal-title" id="userAccessMessageModalTitle">HI</h5>
          <button type="button" class="close" (click)="cancelAction()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="container">
            <h5 class="modal-title" id="userAccessMessageModalTitle">HAI</h5>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn button-hollow" (click)="removeModal()">
            Cancel
          </button>
          <button type="button" class="btn button-fill" (click)="sumbitRequestResponse()">
            Update User Permission
          </button>
        </div>
      </div>
    </div>
  </div>