.modal-container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  position: fixed;
  display: flex;
  background-color: rgba(0,0,0,.7);
}

.top-align {
  padding-top: 2% !important;
}

.center-align {
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 600px;
  height: 90vh;
  max-height: 700px;
  position: relative;
  border: none !important;
  margin: 0 auto;
  background-color: transparent;
  overflow: hidden auto;
}