<div class="modal-content-container">

    <p *ngIf="!showInfo" class="header-text">Waypoint Details</p>
    <hr class="section-divider" />

    <!-- waypoint geometry -->
    <div *ngIf="!showInfo">
        <div class="info-button" (click)="toggleView()">
            <i class="material-icons-outlined info-icon">info</i>
            <p>More Info</p>
        </div>
    </div>

    <!-- waypoint info -->
    <app-waypoint-info *ngIf="showInfo" (onBackAction)="toggleView()">
    </app-waypoint-info>

    <!-- offset width -->
    <div class="row">
        <div class="col-6">
            <app-field [mode]="mode" [verification]="offsetVerification" suffix='m' header='Offset width' [value]=offset (valueChanged)="offsetChanged($event)"></app-field>
        </div>
    </div>

    <!-- text fields for pin entries -->
    <div *ngFor="let pt of waypointEntryComponents; let j = index" class="waypoints-container">
        <div class="row animated fadeIn animationDuration">
            <div class="col-1 waypoint-index">
                <p>{{ j+1 }}</p>
            </div>
            <div class="col-10">
                <app-waypoint-text-entry [value]=pt [mode]=mode [responseBody]=responseBody (pointChanged)="pointChanged($event,j)"></app-waypoint-text-entry>
            </div>
            <div class="col-1 remove-point-button" (click)="removeWaypoint(j)">
                <i class="material-icons-outlined clear-icon">clear</i>
            </div>
        </div>
    </div>

    <!-- Add button to inject another waypoint-text-entry component -->
    <div *ngIf="!maxPointsLengthReached">
        <div class="row add-button" (click)="addNewWaypointTextEntry()">
            <i class="material-icons-outlined add-icon">add</i>
            <p>Add</p>
        </div>
    </div>

    <!-- Text disclaimer -->
    <div class="disclaimer-container">
        <div class="row">
            <h5>Please note:</h5>
            <p>Waypoints must be listed in sequence as observed on ground. If listed otherwise, generated path will differ.</p>
        </div>
        <div class="row">
            <hr>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row">
        <div class="buttons-container col-6">
            <div class="back-button col-6">
                Back
            </div>
            <div class="generate-path-button col-6" (click)="generatePath()">
                Generate path
            </div>
        </div>
    </div>

    <!-- test btn -->
    <div class="row test-btn">
        <div class="col-12">
            <button class="btn" (click)="submitTestData()">
            T
            </button>
        </div>
    </div>
</div>