.side-nav {
    background: #333333;
    height: 100%;
	width: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item  {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.on {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.off {
	opacity: 0.5;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
}