.side-nav {
    height: 100%;
	width: 100%;
	border-radius: 5px;
	background-color: #FFFFFF;
	/* box-shadow: 0 2px 12px 0 rgba(35,64,117,0.3); */
}

.item  {
	color: #002C71;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	letter-spacing: -0.05px;
	line-height: 18px;
}

.on {
	color: #002C71;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.off {
	opacity: 0.5;
	color: #333333;
	font-size: 14px;
	line-height: 16px;
}