<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-auto title-section">
        <p>Sign In</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-auto subtitle-section">
        <p>To continue to LucyDB</p>
      </div>
    </div>
    <div class="row justify-content-center margin-top-medium">
      <div class="col-sm-auto body-section">
        <h6>
          We use the BCeID for authentication.
          <a href="https://www.bceid.ca">learn more about BCeID here</a>
        </h6>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row justify-content-center">
      <button type="button" class="btn btn-secondary button-filled" (click)='loginWithBCeID()'>
        Login with BCeID
      </button>
    </div>
    <div class="row justify-content-center margin-top-small">
      <button type="button" class="btn btn-secondary button-filled" (click)='loginWithIDIR()'>
        Login with IDIR
      </button>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-auto footer-section">
        Need to create an account to access the LucyDB?
      </div>
    </div>
    <div class="row justify-content-center margin-top-medium">
      <div class="col-sm-auto">
        <button type="button" class="btn btn-light button-hollow">
          Create New Account
        </button>
      </div>
    </div>
  </div>
</div>
