<div class="container text-center">
    <div class="row">
        <div class="col-12 component-sub-header">
            Invasive Species to be treated at this location
        </div>
        <div class="col-12">
            <p><b>Select Invasive Species treated with Herbicide selected</b></p>
            <p><b>If species found at treatment is not found below an additional survey record is required.</b></p>
        </div>
        <div class="col-12">
            <label>Being Treated</label>
            <div *ngFor="let s of _speciesBeingTreated" class="col-6">
                {{ s.commonName }}
            </div>
        </div>
        <div class="col-12">
            <label>Not Being Treated</label>
            <div *ngFor="let n of _speciesNotBeingTreated" class="col-6">
                <b>{{ n.commonName }}</b>
            </div>
        </div>
        <div class="col-12">
            <mat-form-field class="col-12">
                <textarea matInput placeholder="Additional Comments"></textarea>
            </mat-form-field>
        </div>
    </div>
    <hr />
</div>