<div *ngIf="!readonly" class="col-12 field">
    <label class="field-header">{{header}}</label>
    <mat-form-field>
        <input 
          class="form-control edit"
          matInput
          [matDatepicker]="datePicker"
          placeholder=""
          [value]="_date"
          (dateChange)="dateChanged($event)"
          (click)="datePicker.open()"
          (keydown)="false">
          <!-- uncomment to add icon -->
        <!-- <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle> -->
        <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
</div>
<div *ngIf="readonly">
  <app-field
  [mode]="mode" 
  [header]="header"
  [value]="date">
</app-field>

</div>