#timePicker {
    color: #002C71 !important;
}

.timepicker__header {
    background-color: #002C71 !important;
}

.clock-face__clock-hand {
    color: #002C71 !important;
}

.timepicker-button {
    color: #002C71 !important;
}

.picker {
    display: inline-flex;
    align-items: center;
    width: 50%;
}

.picker__input {
    border: none !important;
    width: 100%;
}

.picker__input:focus {
    outline: none !important;
}