<div *ngIf="!readonly" class="col-12 animated" id="{{fieldId}}">
    <div class="row">
        <mat-form-field [attr.id]="'date'">
            <input matInput [matDatepicker]="datePicker" [matDatepickerFilter]="pastAndPresentDatesOnlyFilter" placeholder="{{header}}" [value]="_dateTime" (dateChange)="dateChanged($event)" (click)="datePicker.open()" (keydown)="false">
            <mat-datepicker #datePicker></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <input [ngxTimepicker]="timePicker" [format]="24" [(ngModel)]="_time" (ngModelChange)="timeChanged($event)">
            <ngx-material-timepicker #timePicker></ngx-material-timepicker>
        </mat-form-field>
    </div>
</div>
<div *ngIf="readonly" class="col-12">
    <app-field [mode]="mode" [header]="header" [value]="dateTimeAsString">
    </app-field>
</div>