#timePicker {
    color: #002C71 !important;
}

.timepicker__header {
    background-color: #002C71 !important;
}

.clock-face__clock-hand {
    color: #002C71 !important;
}

.timepicker-button {
    color: #002C71 !important;
}