<div *ngIf="!readonly" class="col-12 field animated" id="{{fieldId}}">
    <mat-form-field [attr.id]="'date'">
        <div class="picker">
            <input class="picker__input" matInput [matDatepicker]="datePicker" [matDatepickerFilter]="pastAndPresentDatesOnlyFilter" placeholder="{{header}}" [value]="dateTime" (dateChange)="dateChanged($event)" (click)="datePicker.open()" (keydown)="false">
            <mat-datepicker #datePicker></mat-datepicker>
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        </div>
        <div class="picker">
            <input class="picker__input" [ngxTimepicker]="timePicker" [attr.aria-label]="'Open clock'" [format]="24" [(ngModel)]="time" (ngModelChange)="timeChanged($event)">
            <ngx-material-timepicker #timePicker [theme]="timePickerTheme"></ngx-material-timepicker>
            <ngx-material-timepicker-toggle [for]="timePicker"></ngx-material-timepicker-toggle>
        </div>
    </mat-form-field>
</div>
<div *ngIf="readonly" id="{{fieldId}}">
    <app-field [mode]="mode" [header]="header" [value]="dateTimeAsString"></app-field>
</div>