<div *ngIf="!readonly" class="col-12 animated" id="{{fieldId}}">
    <div class="row">
        <mat-form-field [attr.id]="'date'">
            <input matInput [matDatepicker]="datePicker" [matDatepickerFilter]="pastAndPresentDatesOnlyFilter" placeholder="{{header}}" [value]="date" (dateChange)="dateChanged($event)" (click)="datePicker.open()" (keydown)="false">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
        <ngb-timepicker [(ngModel)]="time" (ngModelChange)="timeChanged($event)"></ngb-timepicker>
    </div>
</div>
<div *ngIf="readonly">
    <app-field [mode]="mode" [header]="header" [value]="time">
    </app-field>
</div>