<div class="toast-position">
  <div class="container container-fluid toast-container animated" [ngClass]="presenting ? 'bounceInDown' : 'bounceOutUp'">
    <div class="row ">
      <div class="col-3 success animated fadeIn" *ngIf="isSuccess">
          <i class="material-icons">
              done
          </i>
      </div>
      <div class="col-3 fail animated fadeIn" *ngIf="isFailure">
          <i class="material-icons">
              error_outline
          </i>
      </div>
      <div class="col message">
        {{model.message}}
      </div>
    </div>
  </div>
</div>