.toast-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
	border-radius: 4px;
	background-color: #FFFFFF;
    box-shadow: 0 10px 40px 0 rgba(20,27,43,0.3);
}

.toast-position {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 999;
    min-width: 20%;
    min-height: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}
.message {
    margin: 16px;
    padding: 0;
}

.success {
    background-color: #56BD5B;
    color: #FFFFFF;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fail {
    background-color: #FF534A;
    color: #FFFFFF;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.none {
    background-color: transparent;
}