<div class="container">
  <!-- Basic User Info -->
  <div class="row">

    <div class="col-sm-auto col-md-1">
      <div class="circle">
        <button class="btn user-button">BB</button>
      </div>
    </div>
    <div class="col-sm-auto col-md-7">
      <div class="col-12 user-name">Beth Bell</div>
      <div class="col-12 user-role">Invasive Plant Specialist, Ministry of Tranaportation</div>
    </div>
    <div class="col-sm-auto col-md-4">
      <div class="user-access"> <i class="material-icons">info</i> View Only Database Access </div>
     
    </div>
  </div>
  <!-- access request -->
  <div class="row">

  </div>
</div>
