<div class="container-fluid">
  <div class="row">
    <!-- MATERIAL TABLE -->
    <div class="col table-container">
      <table mat-table [dataSource]="dataSource">
        ['Date', 'Method', 'Species'];

        <!-- Date Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef (click)="sortByDate()">
            Date
            <i *ngIf="sortingByDate && !sortingAscending" class="material-icons">arrow_downward</i>
            <i *ngIf="sortingByDate && sortingAscending" class="material-icons">arrow_upward</i>
          </th>
          <td mat-cell *matCellDef="let item"> {{item.date | momentPipe:'YYYY-MM-DD'}} </td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="Method">
          <th mat-header-cell *matHeaderCellDef (click)="sortByMethod()">
            Method
            <i *ngIf="sortingByMethod && !sortingAscending" class="material-icons">arrow_downward</i>
            <i *ngIf="sortingByMethod && sortingAscending" class="material-icons">arrow_upward</i>
          </th>
          <td mat-cell *matCellDef="let item"> Mechanical </td>
        </ng-container>

        <!-- Species Column -->
        <ng-container matColumnDef="Species">
          <th mat-header-cell *matHeaderCellDef (click)="sortBySpecies()">
            Species
            <i *ngIf="sortingBySpecies && !sortingAscending" class="material-icons">arrow_downward</i>
            <i *ngIf="sortingBySpecies && sortingAscending" class="material-icons">arrow_upward</i>
          </th>
          <td mat-cell *matCellDef="let item"> {{item.species}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let item" class="treatment-action-row">
              <button mat-raised-button color="primary" (click)="viewTreatment(item)">
                  View</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>