table {
    width: 100%;
}

.treatment-action-row {
    /* align-content: flex-end; */
    text-align: right;
}

.mat-row:nth-child(even){
    background-color:white;
    }

.mat-row:nth-child(odd){
    background-color:#F7F7F7;
}