<div class="container">
  <div class="row">
    <div class="col-12 section-title">
      Location
    </div>
  </div>
   <div class="row">
    <div class="col-12 col-md-4">
      <app-field [mode]="mode" [header]="'Eastings'" [value]="eastings" [validationFunc]="validation.isValidUTM"
        (valueChanged)='eastingChanged($event)'></app-field>
        <app-field [mode]="mode" [header]="'Northings'" [value]="northings" [validationFunc]="validation.isValidUTM"
        (valueChanged)='northingsChanged($event)'></app-field>
        <app-field [mode]="mode" [header]="'Zone'" [value]="zone" [validationFunc]="validation.isValidInteger"
        (valueChanged)='zoneChanged($event)'></app-field>
    </div>
    <div class="col-12 col-md-8"> 
        <app-map-preview (centerPointChanged)='mapCenterChanged($event)' [center]="mapCenter" [markers]="markers">
          </app-map-preview>
    </div>
  </div>
  <hr class="divider">
</div>

