.card {
	border: 1px solid #CCCCCC;
    background-color: #F7F7F7;
    padding: 1%;
}

.topPadding {
    padding-top: 1%;
}

.addButton {
    width: 100%;
}

.section-title {
    color: #000000;
    font-size: 17px;
	font-weight: bold;
	line-height: 22px;
}