<div class="container">
  <div class="row">
    <div class="col-12 section-title">
      Invasive Plant Species
    </div>
    <div *ngIf="!isViewMode" class="col-12">
      <button class="btn btn-test" (click)="autofillForTesting()">Auto-Create One For Testing</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngFor="let object of objects; let i = index">
      <app-add-plant-observation-invasive-plant-species-cell
      [mode]="mode"
      [object]="object"
      (speciesCellInfoChanged)='speciesCellInfoChanged($event)'
      >
      </app-add-plant-observation-invasive-plant-species-cell>
    </div>

    <div *ngIf="!isViewMode" class="col-12 topPadding">
      <br />
      <button type="button" class="btn btn-secondary addButton button-fill"
        (click)="addNewSpecies()">{{buttonTitle}}</button>
    </div>
  </div>
</div>