<div class="container">
  <div class="row">
    <div class="col-12 section-title">
      Location
    </div>
  </div>
  <br/>
  <div class="row">
    <!-- Left content  -->
    <div class="col-12 col-md-4">
      <div class="row">
        
        <!-- Input mode switch  -->
        <div class="col-12 input-mode">
          <div class="input-mode-container">
            <button class="btn switch-btn" [ngClass]="!locationEntryModeLatLong ? 'input-mode-on' : 'input-mode-off'"
              (click)="switchInputUTM()">UTM</button>
            <button class="btn switch-btn" [ngClass]="locationEntryModeLatLong ? 'input-mode-on' : 'input-mode-off'"
              (click)="switchInputLatLong()">Lat / Long</button>
          </div>
        </div>
      </div>
      <!-- lat long input  -->
      <div *ngIf="locationEntryModeLatLong">
        <div class="row">
          <div class="full-width">
            <app-field [mode]="mode" [header]="'Latitude'" [value]="lat"
              [validationFunc]="validation.isValidLatitude.bind(validation)" (valueChanged)='latChanged($event)'>
            </app-field>
          </div>
        </div>
        <div class="row">
          <div class="full-width">
            <app-field [mode]="mode" [header]="'Longitude'" [value]="long"
              [validationFunc]="validation.isValidLongitude.bind(validation)" (valueChanged)='longChanged($event)'>
            </app-field>
          </div>
        </div>
      </div>
      <!-- UTM input  -->
      <div *ngIf="!locationEntryModeLatLong">
        <div class="row">
          <div class="full-width">
            <app-field [mode]="mode" [header]="'Eastings'" [value]="eastings" 
              [validationFunc]="validation.isValidUTMEastings.bind(validation)" (valueChanged)='eastingChanged($event)'>
            </app-field>
          </div>
        </div>
        <div class="row">
          <div class="full-width">
            <app-field [mode]="mode" [header]="'Northings'" [value]="northings"
              [validationFunc]="validation.isValidUTMNorthings.bind(validation)" (valueChanged)='northingsChanged($event)'>
            </app-field>
          </div>
        </div>
        <div class="row">
          <div class="full-width">
            <app-field [mode]="mode" [header]="'Zone'" [value]="zone" [validationFunc]="validation.isValidInteger.bind(validation)"
              (valueChanged)='zoneChanged($event)'>
            </app-field>
          </div>
        </div>
      </div>
      <!-- Observer Information  -->
      <div class="row">
        <div class="col-12 section-title">
          <hr class="divider">
          Observer information
        </div>
      </div>
      <div class="row">
        <div class="full-width">
          <app-field [mode]="mode" [header]="'First Name'" [value]="observerFirstName"
            (valueChanged)='observerFirstNameChanged($event)'>
          </app-field>
        </div>
      </div>
      <div class="row">
        <div class="full-width">
          <app-field [mode]="mode" [header]="'Last Name'" [value]="observerLastName"
            (valueChanged)='observerLastNameChanged($event)'>
          </app-field>
        </div>
      </div>
      <div class="row">
        <div class="full-width">
          <app-dropdown [mode]="mode" [items]="agencies" [fieldHeader]="'Completed on behalf of'"
            [selectedItem]="organization" (selectionChanged)='organizationChanged($event)'>
          </app-dropdown>
        </div>
      </div>
      <!-- Date -->
      <div class="row">
        <div class="full-width">
          <app-date-picker
          [mode]="mode"
          [date]="observationDate"
          [header]="'Observation Date'"
          (selected)='observationDateChanged($event)'
          ></app-date-picker>
        </div>
      </div>
    </div>
    <!-- Map -->
    <div class="col-12 col-md-8 leaf">
      <app-map-preview (centerPointChanged)='mapCenterChanged($event)' [cluster]="false" [center]="mapCenter" [markers]="markers">
      </app-map-preview>
    </div>
  </div>
  <hr class="divider">
</div>
